@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* * {
  padding: 0;
  margin: 0;
} */

.portfolio-container {
  background-color: #0097e6;
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
  overflow: hidden;
  margin-left: -20px;
}

.portfolio-left,
.portfolio-right {
  font-size: 9rem;
  font-weight: bold;
  width: 50%;
  position: absolute;
  height: 100%;
  background-color: #0097e6;
  transition: transform 0.3s ease-in-out;
}

.portfolio-left {
  text-align: right;
  left: 0;
  animation: portfolio-move-left 1.7s ease-in-out forwards;
  animation-delay: 1s;
}

.portfolio-left p {
  animation: portfolio-move-up 1s ease-in-out forwards;
  animation-delay: 1s;
}

.portfolio-right {
  right: 0;
  animation: portfolio-move-right 1.7s ease-in-out forwards;
  animation-delay: 1s;
}

.portfolio-right p {
  animation: portfolio-move-down 1s ease-in-out forwards;
  animation-delay: 1s;
}

.portfolioo p {
  margin-top: 45%;
}

@keyframes portfolio-move-left {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-38%, 0);
  }
  100% {
    transform: translate(-38%, 0);
  }
}

@keyframes portfolio-move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-140%);
  }
}

@keyframes portfolio-move-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120%);
  }
}

@keyframes portfolio-move-right {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(38%, 0);
  }
  100% {
    transform: translate(38%, 0%);
  }
}

.portfolio-image {
  background-image: url("/src//assets/advertisee.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  width: 400px;
  animation: portfolio-img-animate 1s linear forwards,
    portfolio-appear 0.3s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes portfolio-img-animate {
  0% {
    border-radius: 0;
  }
  50% {
    border-radius: 100px;
  }
  100% {
    border-radius: 200px;
  }
}
